<div class="col-sm-12 col-md-7" style="margin-bottom:20px;">
    <ul class="btn-group">
        <li class="btn btn-default active"><a showtab="" href="#primaryStats-wrapper" data-toggle="tab" ng-click="activeTable=0">Base</a></li>
        <li class="btn btn-default"><a showtab="" href="#complexStats-wrapper" data-toggle="tab" ng-click="activeTable=1">Complex</a></li>
    </ul>
    <br/>
    <div class="tab-content">
        <br/>
        <div id="primaryStats-wrapper" class="tab-pane" ng-class="{active: activeTable==0}">
            <div class="table-wrapper primaryStats-wrapper table-responsive">
                <table id="primaryStats" class="table" >
                    <thead>
                        <tr>
                            <th class="hidden">ID</th>
                            <th>Host</th>
                            <th ng-repeat="name in sensorTypes">{{name | uppercase}}</th>
                            <th>Datetime</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="host in primaryData">
                            <td ng-bind="host['sensorId']" class="hidden"></td>
                            <td ng-bind="host['sensorName']"></td>
                            <td ng-repeat="name in sensorTypes">{{ host[name+'Load'] | number: 3 }}</td>
                            <td>{{host['date'] | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <td>
                                <button ng-click="statDetails(host['hostId'])">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row form-inline">
                <div class="col-sm-9">
                    <a class="btn btn-info" ng-disabled="page == 0" ng-click="prevResults()">< Prev</a>
                    Page: <a class="btn btn-default" disabled ng-bind="page+1"></a>
                    <a class="btn btn-info" ng-click="nextResults()">Next ></a>
                </div>
                <div class="form-group col-sm-3">
                    <label>Page limit</label>
                    <select class="form-control" ng-model="limit" ng-change="getData(page)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="complexStats-wrapper" class="tab-pane" ng-class="{active: activeTable==1}">
            <div class="table-wrapper complexStats-wrapper table-responsive">
                <table id="complexStats" class="table" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Period</th>
                            <th>Interval</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="host in complexData" >
                            <td>{{ host['sensorName'] }}</td>
                            <td>{{ host['itemType'] }}</td>
                            <td>{{ host['period']/1000 }}s</td>
                            <td>{{ host['repeat']/1000 }}s</td>
                            <td>
                                <button ng-click="complexStatDetails(host['id'])">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </button>

                                <button ng-show="host['removeAllow']" ng-click="removeComplexData(host['id'])">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row form-inline">
                <div class="col-sm-9">
                    <a class="btn btn-info" ng-disabled="complexPage == 0" ng-click="prevComplexResults()">< Prev</a>
                    Page: <a class="btn btn-default" disabled ng-bind="complexPage+1"></a>
                    <a class="btn btn-info" ng-click="nextComplexResults()">Next ></a>
                </div>
                <div class="form-group col-sm-3">
                    <label>Page limit</label>
                    <select class="form-control" ng-model="complexLimit" ng-change="getData(complexPage)">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="40">40</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-5 ">
    <ul class="btn-group">
        <li class="btn btn-default active"><a showtab="" href="#searching-wrapper" data-toggle="tab">Searching</a></li>
        <li class="btn btn-default" ng-if="activeTable==1"><a showtab="" href="#createComplexStat-wrapper" data-toggle="tab">Create complex stat</a></li>
    </ul>
    <br/>
    <div class="tab-content">
        <div id="searching-wrapper" class="tab-pane active">
            <h2>Searching</h2>
            <br/>
            <div class="">
                <div class="col-sm-7">
                    <input id="hostName" ng-model="search.nodeName" placeholder="search hostname" name="hostName" class="form-control col-xs-12 col-sm-5" />
                </div>
                <div class="col-sm-5">
                    <select id="hostId" name="hostId" class="form-control col-xs-12 col-sm-5" ng-model="search.node" >
                        <option value="">Select node</option>
                        <option ng-repeat="host in nodes | unique:'id'" value="{{ host['id'] }}">{{ host['name'] }}</option>
                    </select>
                </div>
                <div class="col-sm-12">
                    <h4>Data range</h4>
                </div>
                <div class="col-sm-5">
                    <date-time-picker ng-model="search.startDate" data-id="startDate" ></date-time-picker>
                </div>
                <div class="col-sm-5" >
                    <date-time-picker ng-model="search.endDate" data-id="endDate" ng-class="{'disabled':search.todayDate}" ></date-time-picker>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" class="form-control checkbox" ng-model="search.todayDate" name="endToday" id="endToday">
                </div>
                <div class="col-sm-12">
                    <button class="btn btn-info" ng-click="sendRequest()">Search</button>
                </div>

            </div>


        </div>
        <div id="createComplexStat-wrapper" class="tab-pane">

        </div>
    </div>

</div>