<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Monitool Access</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/dist/lib/angular-loading-bar/loading-bar.css">

    <!-- Custom styles for this template -->
    <link href="/assets/dist/themes/css/login.css" rel="stylesheet">

    <link href="/assets/dist/lib/angular-toastr/angular-toastr.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container" data-monitool-app="app" data-root-api="http://monitool-gui.github/" ng-controller="LoginCtrl">

    <h1>Monitool Access</h1>

    <form class="form-signin" ng-show="form">
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="email" id="inputEmail" ng-model="loginData.email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="inputPassword" ng-model="loginData.password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign in</button>

        <br/>
        <a href="#" ng-click="form = false">Sign up!</a>

    </form>

    <form class="form-signin" ng-hide="form">
        <h2 class="form-signin-heading">Sign up</h2>
        <input type="email" id="email" ng-model="registerData.email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" id="password" ng-model="registerData.password" class="form-control" placeholder="Password" required>
        <input type="password" id="repassword" ng-model="registerData.repassword" class="form-control" placeholder="Retype password" required>
        <button class="btn btn-lg btn-primary btn-block" ng-click="register()">Sign up</button>

        <br/>
        <a href="#" ng-click="form = true">Do you have an account? Sign in!</a>

    </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/dist/lib/jquery/js/jquery.min.js"></script>
<script src="/assets/dist/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

<script src="/assets/dist/lib/lodash/lodash.js"></script>
<script src="/assets/dist/lib/angular/angular.js"></script>
<script src="/assets/dist/lib/angular-cookies/angular-cookies.js"></script>
<script src="/assets/dist/lib/angular-resource/angular-resource.js"></script>
<script src="/assets/dist/lib/angular-animate/angular-animate.js"></script>
<script src="/assets/dist/lib/angular-cookies/angular-cookies.js"></script>
<script src="/assets/dist/lib/angular-filter/angular-filter.js"></script>
<script src="/assets/dist/lib/angular-toastr/angular-toastr.js"></script>
<script src="/assets/dist/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/assets/dist/lib/angular-route/angular-route.js"></script>
<script src="/assets/dist/lib/angular-loading-bar/loading-bar.js"></script>
<script src="/assets/dist/js/core.js"></script>
<script src="/assets/dist/js/common.js"></script>
<script src="/assets/dist/js/app.js"></script>
<script src="/assets/dist/js/runapps.js"></script>

</body>
</html>
