body {
    padding: 80px;
}

.checkout-form label {
    font-size: 12px;
    font-weight: normal;
}

.form-group-inline .form-group {
    display: inline-block;
}

.form-group-inline label {
    display: inline-block;
    position: relative;
    top: 11px;
    left: 6px;
}

.form-group-inline input[type="radio"], .form-group-inline input[type="checkbox"]  {
    display: inline-block;
    width: auto;
    float: left;
}

.basket-box {
    background: #F2F6F7;
    padding-bottom: 15px;
}

.basket-box hr {
    border-color: #CCC;
}

[data-type="basket-product"] .clearfix{
    margin: 8px 0;
}

.basket-box img {
    width: 100%;
}

.basket-blue-text {
    color: #2B4E7C;
}

.product-name {
    font-size: 16px;
    margin-top: 12px;
}

.total-price {
    color: #FF181A;
    font-size: 16px;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

h1, h2 {
    text-align: center;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}